html,
body {
 height: 100%;
}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
 }
 .App .mainContainer {
  flex: 1 0 auto;
 }
 nav.topNavagiation {
  margin-bottom: 60px;
}

.searchImageSize{
  width: 200px !important;
  height: 170px !important;
}

.searchResultErrorText {
  text-align: center !important;
  margin-left: auto!important;
  margin-right: auto!important;
}

.searchResultMarginTop {
  margin-top: 20px !important;
}

.marginTop40 {
  margin-top: 40px !important;
}

.marginTop50 {
  margin-top: 50px !important;
}

.marginTop4 {
  margin-top: 4px !important;
}

.searchDiv {
  margin-top: 20px !important;
  margin-right: 60px !important;
}

.confirmEmailMessage .ui.header {
  border-bottom: 0px !important;
}

.confirmEmailMessage .actions {
  border-top: 0px !important;
}


@media(max-width: 991px) {

  .searchResultMarginTop .card {
    width: 290px !important;
    margin-right: auto !important;
    margin-left: auto !important;
  }

}